
/* Body CSS */

body {
    background-image: url(assests/images/doodles.png);
}

/* Content CSS */
.container {
    background-color: lightgray;
    margin-top: 50px;
    max-width: 780px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: .5rem;
}

h2 {
    margin-bottom: 20px;
}

.userinputs {
    text-align: justify;
    margin: 0 auto;
}

/* slider content - had help from various sources*/

#sliderbar {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 10px; 
    background: rgb(52,58,64); 
    outline: none;
    margin-bottom: 20px;
}

#length {
    display: inline-block;
}

/* text box and button content*/

#generate {
    display:inline-block;
}
#copy {
    display: inline-block;
}

#buttons {
    margin-top:15px;
    margin-bottom:20px;
}